{% comment %}
  /**
    * @param {string} cart_icon - The icon to use for the cart
    * @param {string} nav_position - The position of the navigation
  */
{% endcomment %}

{%- liquid
  assign hide_icon_labels = true
  if nav_position == 'below'
    assign hide_icon_labels = false
  endif
-%}

<div class="site-nav">
  <div class="site-nav__icons">
    <a href="{{ routes.search_url }}" class="site-nav__link site-nav__link--icon js-search-header{% if nav_position == 'below' %} medium-up--hide{% endif %} js-no-transition">
      {% render 'icon', name: 'search' %}
      <span class="icon__fallback-text visually-hidden">{{ 'labels.search' | t }}</span>
    </a>

    {%- if shop.customer_accounts_enabled -%}
      <a class="site-nav__link site-nav__link--icon small--hide" href="{{ routes.account_url }}">
        {% comment %} Updating account icon - 21 May '24 {% endcomment %}
        {% render 'icon', name: 'custom-account' %}
        <span class="site-nav__icon-label small--hide{% if hide_icon_labels %} icon__fallback-text visually-hidden{% endif %}">
          {{ 'labels.account' | t }}
        </span>
      </a>
    {%- endif -%}

    <a href="{{ routes.cart_url }}"
      id="HeaderCartTrigger"
      aria-controls="HeaderCart"
      class="site-nav__link site-nav__link--icon js-no-transition"
      data-icon="{{ cart_icon }}"
      aria-label="{{ 'labels.cart' | t }}"
    >
      <span class="cart-link">
        {% comment %} Updating cart icon - 21 May '24 {% endcomment %}
        {% render 'icon', name: 'custom-cart' %}
        <span class="cart-link__bubble{% if cart.item_count > 0 %} cart-link__bubble--visible{% endif %}">
          <span class="cart-link__bubble-num">{{ cart.item_count }}</span>
        </span>
      </span>
      <span class="site-nav__icon-label small--hide{% if hide_icon_labels %} icon__fallback-text visually-hidden{% endif %}">
        {{ 'labels.cart' | t }}
      </span>
    </a>

    <button type="button"
      aria-controls="MobileNav"
      class="site-nav__link site-nav__link--icon medium-up--hide mobile-nav-trigger">
      {% render 'icon', name: 'hamburger' %}
      <span class="icon__fallback-text visually-hidden">{{ 'labels.site_navigation' | t }}</span>
    </button>
  </div>

  <div class="site-nav__close-cart">
    <button type="button" class="site-nav__link site-nav__link--icon js-close-header-cart">
      <span>{{ 'actions.close' | t }}</span>
      {% render 'icon', name: 'close' %}
    </button>
  </div>
</div>
