{% comment %}
  /**
   * @param {string} location - The location of the selector. Can be 'footer' or 'toolbar'.
   * @param {boolean} locale_selector - Whether or not to show the locale selector.
   * @param {boolean} currency_selector - Whether or not to show the currency selector.
   * @param {boolean} show_currency_flags - Whether or not to show the currency flags.
   * @param {object} localization - The localization object.
   */
{% endcomment %}

{%- liquid
  assign formId = 'localization_form-' | append: location
  assign formClass = 'multi-selectors multi-selectors--' | append: location
-%}
{%- form 'localization', id: formId, class: formClass, data-disclosure-form: '' -%}

    {% unless locale_selector and currency_selector %}
      {% assign is_single = true %}
    {% endunless %}

  {%- if locale_selector -%}
    <div class="multi-selectors__item">
      {%- if location == 'footer' -%}
        <div class="footer__title" id="LangHeading-{{ location }}">
          {{ 'labels.language' | t }}
        </div>
      {%- else -%}
        <div class="visually-hidden" id="LangHeading-{{ location }}">
          {{ 'labels.language' | t }}
        </div>
      {%- endif -%}

      <div class="disclosure" data-disclosure-locale>
        <button type="button" class="faux-select disclosure__toggle" aria-expanded="false" aria-controls="LangList-{{ location }}" aria-describedby="LangHeading-{{ location }}" data-disclosure-toggle>
          <span class="disclosure-list__label">
            {{ form.current_locale.endonym_name | capitalize }}
          </span>
          {% render 'icon', name: 'chevron-down' %}
        </button>
        <ul id="LangList-{{ location }}" class="disclosure-list disclosure-list--single-{{ is_single }} {% if location == 'toolbar' %} disclosure-list--down disclosure-list--left{% endif %}" data-disclosure-list>
          {%- for locale in form.available_locales -%}
            <li class="disclosure-list__item{% if locale.iso_code == form.current_locale.iso_code %} disclosure-list__item--current{% endif %}">
              <a class="disclosure-list__option" href="#" lang="{{ locale.iso_code }}"{% if locale.iso_code == form.current_locale.iso_code %} aria-current="true"{% endif %} data-value="{{ locale.iso_code }}" data-disclosure-option>
                <span class="disclosure-list__label">
                  {{ locale.endonym_name | capitalize }}
                </span>
              </a>
            </li>
          {%- endfor -%}
        </ul>
        <input type="hidden" name="locale_code" value="{{ form.current_locale.iso_code }}" data-disclosure-input>
      </div>
    </div>
  {%- endif -%}

  {%- if currency_selector -%}
    <div class="multi-selectors__item">
      {%- if location == 'footer' -%}
        <div class="footer__title" id="CurrencyHeading-{{ location }}">
          {{ 'labels.currency' | t }}
        </div>
      {%- else -%}
        <div class="visually-hidden" id="CurrencyHeading-{{ location }}">
          {{ 'labels.currency' | t }}
        </div>
      {%- endif -%}

      <div class="disclosure" data-disclosure-currency>
        <button type="button" class="faux-select disclosure__toggle" aria-expanded="false" aria-controls="CurrencyList-{{ location }}" aria-describedby="CurrencyHeading-{{ location }}" data-disclosure-toggle>
          {%- if show_currency_flags -%}
            {{- localization.country | image_url: width: 60, format: 'jpg' | image_tag: loading: 'lazy', class: 'currency-flag' -}}
          {%- endif -%}
          <span class="disclosure-list__label">{{ localization.country.name }} ({{ localization.country.currency.iso_code }} {{ localization.country.currency.symbol }})</span>
          {% render 'icon', name: 'chevron-down' %}
        </button>
        <ul id="CurrencyList-{{ location }}" class="disclosure-list disclosure-list--single-{{ is_single }} {% if location == 'toolbar' %} disclosure-list--down disclosure-list--left{% endif %}" data-disclosure-list>
          {%- for country in localization.available_countries -%}
            <li class="disclosure-list__item{% if country.iso_code == localization.country.iso_code %} disclosure-list__item--current{% endif %}">
              <a class="disclosure-list__option" href="#"{% if country.iso_code == localization.country.iso_code %} aria-current="true"{% endif %} data-value="{{ country.iso_code }}" data-disclosure-option>
                {%- if show_currency_flags -%}
                  {{- country | image_url: width: 60, format: 'jpg' | image_tag: loading: 'lazy', class: 'currency-flag' -}}
                {%- endif -%}
                <span class="disclosure-list__label">{{ country.name }} ({{ country.currency.iso_code }} {{ country.currency.symbol }})</span>
              </a>
            </li>
          {%- endfor -%}
        </ul>
        <input type="hidden" name="country_code" value="{{ localization.country.iso_code }}" data-disclosure-input>
      </div>
    </div>
  {%- endif -%}
{%- endform -%}
