{% comment %}
  /**
    /**
     * @param {string} section_id - The section ID
     * @param {string} snippet_context - The context of the snippet
     * @param {object} customer - The customer object
     */
  */
{% endcomment %}

{%- assign newsletter_form_id = 'newsletter-' | append: section_id -%}
{% form 'customer', id: newsletter_form_id %}
  {%- if form.posted_successfully? -%}
    <div class="note note--success">
      {{ 'info.newsletter_success' | t }}
    </div>
  {%- endif -%}
  {%- if form.errors and form.context == snippet_context -%}
    {{ form.errors | default_errors }}
  {%- endif -%}

  {%- unless form.posted_successfully? -%}
    <label for="Email-{{ section_id }}" class="visually-hidden">{{ 'actions.enter_email' | t }}</label>
    <label for="newsletter-form-submit-{{ section_id }}" class="visually-hidden">{{ 'actions.subscribe' | t }}</label>
    <input type="hidden" name="contact[tags]" value="prospect,newsletter">
    <input type="hidden" name="contact[context]" value="{{ snippet_context }}">
    <div class="input-group newsletter__input-group">
      <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'actions.enter_email' | t }}" name="contact[email]" id="Email-{{ section_id }}" class="input-group-field newsletter__input" autocorrect="off" autocapitalize="off" required>
      <div class="input-group-btn">
        <button type="submit" id="newsletter-form-submit-{{ section_id }}" class="btn" name="commit" aria-label="{{ 'actions.subscribe' | t }}">
          <span class="form__submit--large">{{ 'actions.subscribe' | t }}</span>
          <span class="form__submit--small">
            {% render 'icon', name: 'arrow-right' %}
          </span>
        </button>
      </div>
    </div>
  {%- endunless -%}
{% endform %}
