{% comment %}
  /**
   * @param {number} price - the price
   * @param {shop} shop - the shop object
   * @param {boolean} superscript_decimals - whether to superscript decimals
   */
{% endcomment %}

{%- liquid
  assign formatted_price = price | money
  assign formatted_price_max = price_max | money
  assign raw_price = price | money
  unless shop.money_format contains 'money' or shop.money_format contains '.'
    if superscript_decimals
      if shop.money_format contains '{{amount}}' or shop.money_format contains '{{ amount }}'
        assign formatted_price = formatted_price | replace: '.', '<sup>' | append: '</sup>'
        assign formatted_price_max = formatted_price_max | replace: '.', '<sup>' | append: '</sup>'
      elsif shop.money_format contains '{{amount_with_comma_separator}}' or shop.money_format contains '{{ amount_with_comma_separator }}'
        assign formatted_price = formatted_price | replace: ',', '<sup>' | append: '</sup>'
       assign formatted_price_max = formatted_price_max | replace: ',', '<sup>' | append: '</sup>'
      endif
    endif
  endunless
-%}

<!-- Adding price max - 31 May '23 -->

<span aria-hidden="true" class="grid-product__price--from">{{ 'labels.from_price_html' | t: price: formatted_price }}-{{ formatted_price_max }}</span>
<span class="visually-hidden">{{ 'labels.from_price_html' | t: price: raw_price }}-{{ price_max }}</span>
