{% comment %}
  /**
   * @param {object} product - product object
   * @param {string} form_id - form id
   * @param {object} shop - shop object
   * @param {object} cart - cart object
   * @param {object} block - block object
   * @param {boolean} show_dynamic_checkout - show dynamic checkout buttons
   * @param {object} template - template object
   * @param {object} section - section object
   * @param {object} current_variant - current variant object
   */
{% endcomment %}

{%- form 'product', product, id: form_id, class: 'product-single__form' -%}

  {%- if cart.taxes_included or shop.shipping_policy.body != blank -%}
    <div class="product__policies rte clearfix">
      {%- if cart.taxes_included -%}
        {{ 'info.tax_included' | t }}
      {%- endif -%}
      {%- if shop.shipping_policy.body != blank -%}
        {{ 'info.shipping_policy_html' | t: link: shop.shipping_policy.url }}
      {%- endif -%}
    </div>
  {%- endif -%}

  {%- liquid
    assign gift_card_recipient_feature_active = false
    if block.settings.show_gift_card_recipient and product.gift_card?
      assign gift_card_recipient_feature_active = true
    endif

    assign enable_dynamic_buttons = false
    if show_dynamic_checkout and template != 'product.preorder' and gift_card_recipient_feature_active == false
      assign enable_dynamic_buttons = true
    endif
  -%}

  {%- if gift_card_recipient_feature_active -%}
    {%- render 'gift-card-recipient-form', section: section, product: product, form: form, hydration: 'on:idle' -%}
  {%- endif -%}

  {%- if enable_dynamic_buttons -%}
    <div class="payment-buttons">
  {%- endif -%}

    {%- liquid
      assign default_text = 'actions.add_to_cart' | t
      assign button_text = 'actions.add_to_cart' | t
      if template contains 'preorder'
        assign default_text = 'actions.preorder' | t
        assign button_text = 'actions.preorder' | t
      endif
      unless current_variant.available
        assign button_text = 'info.sold_out' | t
      endunless
    -%}

    {% comment %} Adding attributes to connect button to the PreProduct app - 23 May '24 {% endcomment %}
    <button
      {% if product.empty? %}type="button"{% else %}type="submit"{% endif %}
      name="add"
      data-add-to-cart
      class="btn btn--full add-to-cart{% if enable_dynamic_buttons and product.selling_plan_groups == empty %} btn--secondary{% endif %}"
      {% unless current_variant.available %} disabled="disabled"{% endunless %}
      data-native-pre-order-btn data-starting-variant={{ product.selected_or_first_available_variant.id }}>
      <span data-add-to-cart-text data-default-text="{{ default_text }}">
        {{ button_text }}
      </span>
    </button>

    {%- if enable_dynamic_buttons -%}
      {{ form | payment_button }}
    {%- endif -%}

  {%- if enable_dynamic_buttons -%}
    </div>
  {%- endif -%}

  <div class="shopify-payment-terms product__policies">{{ form | payment_terms }}</div>

  <select name="id" data-product-select class="product-single__variants no-js">
    {%- for variant in product.variants -%}
      {%- if variant.available -%}
        <option {% if variant == product.selected_or_first_available_variant %}
          selected="selected"{% endif %}
          value="{{ variant.id }}">
          {{ variant.title }} - {{ variant.price | money_with_currency }}
        </option>
      {%- else -%}
        <option disabled="disabled">
          {{ variant.title }} - {{ 'info.sold_out' | t }}
        </option>
      {%- endif -%}
    {%- endfor -%}
  </select>
{%- endform -%}
