{% comment %}
  /**
    * @param {object} section - section object
    * @param {boolean} divider - show divider
    * @param {number} section_blocks_size - number of blocks in section
    * @param {string} title - section title
    * @param {string} heading_position - heading position
    * @param {string} heading_size - heading size
    * @param {string} collection_grid_image - collection grid image
    * @param {string} collection_grid_shape - collection grid shape
    * @param {string} collection_grid_image_fill - collection grid image fill
    * @param {string} collection_grid_color - collection grid color
  */
{% endcomment %}

{%- if divider -%}<div class="section--divider">{%- endif -%}

{%- liquid
  capture gridView
    render 'products-per-row', products_per_row: section_blocks_size
  endcapture
 -%}

<div class="page-width">
  {%- if title != blank or subtitle != blank -%}
    <div class="section-header text-{{ heading_position }}">
      <h2 class="section-header__title {{ heading_size }}">{{ title }}</h2>
      <p class="section-header__subtitle">{{ subtitle }}</p>
    </div>
  {%- endif -%}

  <div class="new-grid" data-view="{% if section_blocks_size < 6 %}{{ gridView }}{% else %}6-3{% endif %}">
    {%- liquid
      assign isEmpty = true
      if section_blocks_size > 0
        assign isEmpty = false
      endif
    -%}

    {%- for block in section.blocks -%}
      {%- liquid
        assign collection = collections[block.settings.collection]
        assign sizeVariable = section_blocks_size | at_most: 6
        render 'collection-grid-item', collection: collection, block: block, sizeVariable: sizeVariable, fallback: 'variable', collection_grid_image: collection_grid_image, collection_grid_shape: collection_grid_shape, collection_grid_image_fill: collection_grid_image_fill, collection_grid_color: collection_grid_color
      -%}
    {%- endfor -%}

    {%- if isEmpty -%}
      <div class="page-width">
        <div class="rte clearfix">
          {{ 'info.section_no_content' | t }}
        </div>
      </div>
    {%- endif -%}

  </div>

  {% if btn_link != blank and btn_text != blank %}
  <a href="{{ btn_link }}" class="btn centered">{{ btn_text }}</a>
  {% endif %}
</div>

{%- if divider -%}</div>{%- endif -%}
