{% comment %}
  /**
   * @param {object} section - section object
   * @param {number} related_count - number of related products to show
   * @param {number} products_per_row - number of products per row
   * @param {string} product_recommendations_heading - heading for the related products section
   * @param {object} recommendations - recommendations object
   * @param {object} product - product object
   * @param {object} routes - routes object
   * @param {boolean} quick_add_enable - whether quick add is enabled
   * @param {boolean} quick_shop_enable - whether quick shop is enabled
   * @param {string} product_grid_image_size - the image size to use for the grid item
   * @param {boolean} product_grid_image_fill - whether the image should fill the grid item
   * @param {boolean} product_hover_image - whether second image will be shown on hover
   * @param {boolean} enable_swatches - whether swatches are enabled
   * @param {boolean} vendor_enable - whether to show the vendor
   * @param {boolean} product_save_amount - show save amount
   * @param {string} product_save_type - dollar or percent
   * @param {boolean} superscript_decimals - whether to superscript decimals
   * @param {string} [hydration] - hydration mode - (default: 'on:idle')
   * @param {boolean} set_image_breathing_room - whether to set image breathing room
   * @param {boolean} enable_tags - whether to show tags
   */
{% endcomment %}

{%- liquid
  assign recommend_products = true

  if recommendations.products and recommendations.products_count > 0
    assign related_collection = recommendations
  endif

  assign number_of_products = related_count

  capture gridView
    render 'products-per-row', products_per_row: products_per_row
  endcapture

  assign hydration = hydration | default: 'on:idle'
-%}

<is-land {{ hydration }}>
  <product-recommendations
    id="Recommendations-{{ section.id }}"
    class="recommendations-{{ section.id }}"
    data-section-id="{{ section.id }}"
    data-section-type="product-recommendations"
    data-enable="{{ recommend_products }}"
    data-product-id="{{ product.id }}"
    data-intent="related"
    data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit={{ number_of_products }}"
    data-limit="{{ number_of_products }}">

    <div
      data-section-id="{{ product.id }}"
      data-subsection
      data-section-type="collection-template"
      class="index-section index-section--sub-product">
      <div class="page-width">
        <header class="section-header">
          <div class="h3 section-header__title">
            {{ product_recommendations_heading }}
          </div>
        </header>
      </div>

      <div class="page-width page-width--flush-small">
        {%- if recommend_products -%}
          <div class="product-recommendations-placeholder">
            {% comment %}
              This content is visually hidden and replaced when recommended
              products show up
            {% endcomment %}
            <div class="new-grid product-grid scrollable-grid--small visually-invisible" aria-hidden="true" data-view="scrollable">
              {%- render 'product-grid-item',
                product: product,
                no_actions: true,
                collection: collection,
                quick_add_enable: quick_add_enable,
                quick_shop_enable: quick_shop_enable,
                product_grid_image_size: product_grid_image_size,
                product_grid_image_fill: product_grid_image_fill,
                product_hover_image: product_hover_image,
                enable_swatches: enable_swatches,
                vendor_enable: vendor_enable,
                product_save_amount: product_save_amount,
                product_save_type: product_save_type,
                superscript_decimals: superscript_decimals,
                set_image_breathing_room: set_image_breathing_room,
                product_grid_style: product_grid_style,
                enable_product_tags: enable_product_tags
              -%}
            </div>
          </div>
        {%- endif -%}
        {%- if related_collection.products_count > 0 -%}
          <div class="product-recommendations page-width">
            <div class="new-grid product-grid scrollable-grid--small" data-view="{{ gridView }}">
              {%- for product in related_collection.products -%}
                {%- render 'product-grid-item',
                  product: product,
                  sizeVariable: products_per_row,
                  fallback: '45vw',
                  collection: collection,
                  quick_add_enable: quick_add_enable,
                  quick_shop_enable: quick_shop_enable,
                  product_grid_image_size: product_grid_image_size,
                  product_grid_image_fill: product_grid_image_fill,
                  product_hover_image: product_hover_image,
                  enable_swatches: enable_swatches,
                  vendor_enable: vendor_enable,
                  product_save_amount: product_save_amount,
                  product_save_type: product_save_type,
                  superscript_decimals: superscript_decimals,
                  set_image_breathing_room: set_image_breathing_room,
                  product_grid_style: product_grid_style,
                  enable_product_tags: enable_product_tags
                -%}
              {%- endfor -%}
            </div>
          </div>
        {%- endif -%}
      </div>
    </div>
  </product-recommendations>

  <template data-island>
    <script type="module">
      import 'components/section-product-recommendations';
    </script>
  </template>
</is-land>
