{% comment %}
  /**
   * @param {object} section - section object
   * @param {boolean} divider - show divider
   * @param {string} title - title
   * @param {string} align_text - text alignment
   * @param {number} desktop_columns_per_row - columns per row on desktop
   * @param {string} button_label - button label
   * @param {string} button_link - button link
   * @param {string} icon_color - Color of icons
   * @param {number} icon_weight - weight of icons
   * @param {string} heading_size - heading size
   */
{% endcomment %}

{%- if divider -%}<div class="section--divider">{%- endif -%}

<div
  class="text-with-icons"
  data-section-id="{{ section.id }}"
  data-section-type="text-with-icons"
>
  <div class="page-width">
    {%- if title != blank -%}
      <div
        class="
          text-with-icons__title
          section-header"
      >
        <h2 class="text-{{ align_text }} {% if heading_size %}{{ heading_size }}{% endif %}">{{ title }}</h2>
      </div>
    {%- endif -%}
    <div
      class="
        text-with-icons__blocks
        has-{{ desktop_columns_per_row }}-per-row"
      data-block-count="{{ section.blocks.size }}"
      >
      {% for block in section.blocks %}
        <div class="text-with-icons__block text-{{ block.settings.align_text }}" {{ block.shopify_attributes }}>
          <div class="text-with-icons__block-icon">
            {% if block.settings.custom_icon != blank %}
              {{ block.settings.custom_icon | img_url: '35x' | img_tag }}
            {% else %}
              {% assign icon_name = block.settings.icon | prepend: 'tcwi-' %}
              {% render 'icon', name: icon_name %}
            {% endif %}
          </div>
          <div class="text-with-icons__block-title">
            <h3>{{ block.settings.title }}</h3>
          </div>
          <div class="text-with-icons__block-text">
            {{ block.settings.text }}
          </div>
        </div>
      {% endfor %}
    </div>
    {%- if button_label != blank -%}
      <div class="text-with-icons__button">
        <a href="{{ button_link }}" class="btn btn--secondary">
          {{ button_label }}
        </a>
      </div>
    {%- endif -%}
  </div>
</div>

{%- if divider -%}</div>{%- endif -%}

{% style %}

  /* Custom background */
  #shopify-section-{{ section.id }} .page-width {
    background-color: {{ background }};  
  }

  #shopify-section-{{ section.id }} .text-with-icons__title h2 {
    color: {{ section.settings.title_color }};
  }

  #shopify-section-{{ section.id }} .text-with-icons__button .btn.btn--secondary {
    color: {{ section.settings.button_color }};
    border-color: {{ section.settings.button_color }};
    background-color: {{ section.settings.button_background }};
  }
  
  #shopify-section-{{ section.id }} .icon {
    color: {{ icon_color }};
  }

  #shopify-section-{{ section.id }} .icon path,
  #shopify-section-{{ section.id }} .icon polygon,
  #shopify-section-{{ section.id }} .icon rect,
  #shopify-section-{{ section.id }} .icon circle,
  #shopify-section-{{ section.id }} .icon ellipse,
  #shopify-section-{{ section.id }} .icon line,
  #shopify-section-{{ section.id }} .icon polyline,
  #shopify-section-{{ section.id }} .icon g {
    stroke-width: {{ icon_weight | replace: 'px', '' | minus: 1 }}px;
  }
{% endstyle %}

