{% comment %}
  /**
   * @param {string} social_instagram_link - Instagram link
   * @param {string} social_facebook_link - Facebook link
   * @param {string} social_youtube_link - YouTube link
   * @param {string} social_twitter_link - Twitter link
   * @param {string} social_pinterest_link - Pinterest link
   * @param {string} social_snapchat_link - Snapchat link
   * @param {string} social_tiktok_link - TikTok link
   * @param {string} social_tumblr_link - Tumblr link
   * @param {string} social_linkedin_link - LinkedIn link
   * @param {string} social_vimeo_link - Vimeo link
   * @param {string} additional_classes - Additional classes to add to the social icons list
   */
{% endcomment %}

<ul class="no-bullets social-icons {{ additional_classes }}">
  {%- if social_instagram_link != blank -%}
    <li>
      <a target="_blank" rel="noopener" href="{{ social_instagram_link }}" title="{{ 'actions.shop_on_social' | t: name: shop.name, platform: 'Instagram' }}">
        {% render 'icon', name: 'instagram' %}
        <span class="icon__fallback-text visually-hidden">Instagram</span>
      </a>
    </li>
  {%- endif -%}
  {%- if social_facebook_link != blank -%}
    <li>
      <a target="_blank" rel="noopener" href="{{ social_facebook_link }}" title="{{ 'actions.shop_on_social' | t: name: shop.name, platform: 'Facebook' }}">
        {% render 'icon', name: 'facebook' %}
        <span class="icon__fallback-text visually-hidden">Facebook</span>
      </a>
    </li>
  {%- endif -%}
  {%- if social_youtube_link != blank -%}
    <li>
      <a target="_blank" rel="noopener" href="{{ social_youtube_link }}" title="{{ 'actions.shop_on_social' | t: name: shop.name, platform: 'YouTube' }}">
        {% render 'icon', name: 'youtube' %}
        <span class="icon__fallback-text visually-hidden">YouTube</span>
      </a>
    </li>
  {%- endif -%}
  {%- if social_twitter_link != blank -%}
    <li>
      <a target="_blank" rel="noopener" href="{{ social_twitter_link }}" title="{{ 'actions.shop_on_social' | t: name: shop.name, platform: 'Twitter' }}">
        {% render 'icon', name: 'twitter' %}
        <span class="icon__fallback-text visually-hidden">Twitter</span>
      </a>
    </li>
  {%- endif -%}
  {%- if social_pinterest_link != blank -%}
    <li>
      <a target="_blank" rel="noopener" href="{{ social_pinterest_link }}" title="{{ 'actions.shop_on_social' | t: name: shop.name, platform: 'Pinterest' }}">
        {% render 'icon', name: 'pinterest' %}
        <span class="icon__fallback-text visually-hidden">Pinterest</span>
      </a>
    </li>
  {%- endif -%}
  {%- if social_snapchat_link != blank -%}
    <li>
      <a target="_blank" rel="noopener" href="{{ social_snapchat_link }}" title="{{ 'actions.shop_on_social' | t: name: shop.name, platform: 'Snapchat' }}">
        {% render 'icon', name: 'snapchat' %}
        <span class="icon__fallback-text visually-hidden">Snapchat</span>
      </a>
    </li>
  {%- endif -%}
  {%- if social_tiktok_link != blank -%}
    <li>
      <a target="_blank" rel="noopener" href="{{ social_tiktok_link }}" title="{{ 'actions.shop_on_social' | t: name: shop.name, platform: 'TikTok' }}">
        {% render 'icon', name: 'tiktok' %}
        <span class="icon__fallback-text visually-hidden">TikTok</span>
      </a>
    </li>
  {%- endif -%}
  {%- if social_tumblr_link != blank -%}
    <li>
      <a target="_blank" rel="noopener" href="{{ social_tumblr_link }}" title="{{ 'actions.shop_on_social' | t: name: shop.name, platform: 'Tumblr' }}">
        {% render 'icon', name: 'tumblr' %}
        <span class="icon__fallback-text visually-hidden">Tumblr</span>
      </a>
    </li>
  {%- endif -%}
  {%- if social_linkedin_link != blank -%}
    <li>
      <a target="_blank" rel="noopener" href="{{ social_linkedin_link }}" title="{{ 'actions.shop_on_social' | t: name: shop.name, platform: 'LinkedIn' }}">
        {% render 'icon', name: 'linkedin' %}
        <span class="icon__fallback-text visually-hidden">LinkedIn</span>
      </a>
    </li>
  {%- endif -%}
  {%- if social_vimeo_link != blank -%}
    <li>
      <a target="_blank" rel="noopener" href="{{ social_vimeo_link }}" title="{{ 'actions.shop_on_social' | t: name: shop.name, platform: 'Vimeo' }}">
        {% render 'icon', name: 'vimeo' %}
        <span class="icon__fallback-text visually-hidden">Vimeo</span>
      </a>
    </li>
  {%- endif -%}
</ul>
